<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146280266092-9nqn2c97f72kef0nfb8rckopaakn6l0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146280266092-9nqn2c97f72kef0nfb8rckopaakn6l0i</string>
	<key>API_KEY</key>
	<string>AIzaSyAoIexRw-QInIBkWll54U3muiegx_t4LIY</string>
	<key>GCM_SENDER_ID</key>
	<string>146280266092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vankhanhvuong.DemoUI.QuizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-5d372</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-5d372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146280266092:ios:36bc6423d2c5eb99755b49</string>
	<key>DATABASE_URL</key>
	<string>https://quizapp-5d372-default-rtdb.firebaseio.com</string>
</dict>
</plist>